:root {
  --primary-font: 'Arimo Hebrew Subset', sans-serif;
  --primary-font-regular: 'Arimo Regular', sans-serif;
  --default-font: 'Inter';
  --ant-required-label-font: 'SimSun', sans-serif;
  --logo-font: 'Arimo Hebrew Subset', sans-serif;
  --colon-font: 'Crete Round', serif;
  --base-color: #3a70b3;
  --base-color-semi-transparent: rgba(58, 112, 179, 0.06);
  --accent-color: rgb(85, 202, 133);
  --accent-color-semi-transparent: rgba(85, 202, 133, 0.7);
  --text-color: #000000;
  --bg-color: #ffffff;
  --main-colour: #1d4645;
  --admin-bg-color: #f5f5f5;
  --section-background: #eaf1f6;
  --white-table-bg-color: #e9eaeb;
  --white: #ffffff;
  --black: #070707;
  --black-900: #000000;
  --black-secondary: #292929;
  --black-tritary: #0d283f;
  --gray: #cdd7e4;
  --light-gray: rgba(7, 7, 7, 0.5);
  --header-height: 80px;
  --main-top: 55px 0 0 0;
  --box-shadow: 1px 1px 20px 0 rgba(205, 215, 228, 0.5);
  --light-blue: #e9e9fd;
  --gray-600: #475467;
  --gray-300: #d0d5dd;
  --gray-tritar: #e6e7ee;
  --blue-700: #0d283f;
  --gray-200: #616c82;
  --gray-100: #f0f0f0;
  --gray-50: #f9fafb;
  --gray-yellow: #faf6eb;
  --shadow-box: rgba(205, 215, 228, 0.5);
  --ant-reqired-label-color: #dc4446;
  --green: green;
  --dark-green: #034746;
  --red: #990000;
  --yellow: yellow;
  --gray-500: #b0b0b0;
  --green-400: #41e783;
  --gray-450: #d9d9d9;
  --white-700: #f6f6f6;
  --button-placeholder: #484848;
  --green-100: #e8f5f4;
  --green-350: #1d4645;
  --pagination-color: #f1f1f1;
  --white-60: rgba(255, 255, 255, 0.6);
  --danger-color: #c10a0a;
  --green-status: #d8ffd6;
  --green-status-color: #009605;
  --admin-navbar: #4e7e96;
  --hero-btn: #c2f6c8;
  --black-300: #101828;
  --white-500: #fafafa;
  --gray-050: #f9f9f9;
  --text-area-color: #cdd2dc;
  --section-background: #fbfbfb;
  --gray-tooltip: #9ea5b3;
  --light-green: #e8f5f4;
  @media screen and (min-width: 1280px) {
    --header-height: 115px;
  }
}
