@font-face {
    font-family: 'LINESeedKR';
    src: url('/fonts/LINE_SeedKR_2023.09.06/OTF/LINESeedKR-Bd.otf') format('opentype'),
         url('/fonts/LINE_SeedKR_2023.09.06/TTF/LINESeedKR-Bd.ttf') format('truetype'),
         url('/fonts/LINE_SeedKR_2023.09.06/WOFF/LINESeedKR-Bd.woff') format('woff');
    font-weight: bold;
  }
  
  @font-face {
    font-family: 'LINESeedKR';
    src: url('/fonts/LINE_SeedKR_2023.09.06/OTF/LINESeedKR-Rg.otf') format('opentype'),
         url('/fonts/LINE_SeedKR_2023.09.06/TTF/LINESeedKR-Rg.ttf') format('truetype'),
         url('/fonts/LINE_SeedKR_2023.09.06/WOFF/LINESeedKR-Rg.woff') format('woff');
    font-weight: normal;
  }
  
  @font-face {
    font-family: 'LINESeedKR';
    src: url('/fonts/LINE_SeedKR_2023.09.06/OTF/LINESeedKR-Th.otf') format('opentype'),
         url('/fonts/LINE_SeedKR_2023.09.06/TTF/LINESeedKR-Th.ttf') format('truetype'),
         url('/fonts/LINE_SeedKR_2023.09.06/WOFF/LINESeedKR-Th.woff') format('woff');
    font-weight: 100;
  }

  